<div class="jumbotron">

	<div class="containerhome">
	</div>
			<div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1>Hi, I am Yolko</h1>
            <p class="lead">I read minds.</p>
            <p class="lead">Just kidding. With some team effort, I tell the presenter what the audience is thinking and feeling. The best thing? Is all real time.</p>
            <p class="lead">I will be joining your meeting today. Get excited.</p>
            <p class="lead">
              <a class="btn btn-info btn-lg" href="#/meeting" role="button">Join the fun!</a>
            </p>
        	</div>
          <!-- <div class="col-sm-6 hidden-xs">
            <div class="device pull-right"></div>
          </div> -->
          <div class="col-sm-6 yolkohome">
						<img src="../img/nosepick.png"/>
					</div>
      	</div>
      </div>
</div>

			<!-- Main Content -->
    <div class="container homemain">

      <div class="row ft">
        <div class="col-sm-6 hidden-xs iconoshome">
					<img src="../img/shout.png"/>
				</div>
        <div class="col-sm-6 ft-copyy">
          <h2 class="padding">Yolko is the voice of the audience</h2>
          <p>
            Shoreditch mlkshk American Apparel lomo master cleanse, pour-over tousled Intelligentsia ennui Williamsburg 3 wolf moon. Slow-carb Brooklyn +1 hella, meh blog Thundercats. Pop-up before they sold out banh mi, mustache ethical ennui kitsch Pitchfork. IPhone raw denim leggings, tattooed health goth cold-pressed stumptown you probably haven't heard of them twee. Gastropub wayfarers irony Marfa crucifix. Pitchfork +1 Kickstarter Odd Future, Vice ennui keytar iPhone trust fund single-origin coffee freegan. Godard cardigan paleo shabby chic narwhal.
            <!-- Learn how to write the code that downloads and displays messages, photos, and videos that timeout after a few seconds. Then create the code that deletes them from the back-end to make them "self destruct." -->
          </p>
        </div>
      </div>

      <div class="row ft">
        <div class="col-sm-6 ft-copy">
          <h2 class="padding">Yolko is always watching. Real time.</h2>
          <p>
            Shoreditch mlkshk American Apparel lomo master cleanse, pour-over tousled Intelligentsia ennui Williamsburg 3 wolf moon. Slow-carb Brooklyn +1 hella, meh blog Thundercats. Pop-up before they sold out banh mi, mustache ethical ennui kitsch Pitchfork. IPhone raw denim leggings, tattooed health goth cold-pressed stumptown you probably haven't heard of them twee. Gastropub wayfarers irony Marfa crucifix. Pitchfork +1 Kickstarter Odd Future, Vice ennui keytar iPhone trust fund single-origin coffee freegan. Godard cardigan paleo shabby chic narwhal.
            <!-- Learn what Parse.com offers as a "backend-as-a-service" platform. Explore the user account management APIs provided by Parse.com and write the code to create and save a new user in a Parse.com data store.  -->
          </p>
        </div>
        <div class="col-sm-6 hidden-xs iconoshome">
					<img src="../img/iamlooking.png"/>
				</div>
      </div>

      <div class="row ft">
        <div class="col-sm-6 hidden-xs iconoshome">
					<img src="../img/itsoverguys.png"/>
				</div>
        <div class="col-sm-6 ft-copy">
          <h2 class="padding">Store &amp; retrieve data using cloud servers</h2>
          <p>
            Shoreditch mlkshk American Apparel lomo master cleanse, pour-over tousled Intelligentsia ennui Williamsburg 3 wolf moon. Slow-carb Brooklyn +1 hella, meh blog Thundercats. Pop-up before they sold out banh mi, mustache ethical ennui kitsch Pitchfork. IPhone raw denim leggings, tattooed health goth cold-pressed stumptown you probably haven't heard of them twee. Gastropub wayfarers irony Marfa crucifix. Pitchfork +1 Kickstarter Odd Future, Vice ennui keytar iPhone trust fund single-origin coffee freegan. Godard cardigan paleo shabby chic narwhal.
            W<!-- e'll teach you how to upload images, video files, and messages to Parse.com's cloud servers. Then learn how to retrieve the data by setting up custom queries that download and display them in the app.  -->
          </p>
        </div>
      </div>





