<div class="jumbotron">

	<div class="containerhome">
	  

	</div>


			<div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1>Hi, I am Yolko</h1>
            <p class="lead">I read minds. Period.</p>
            <p class="lead">Just kidding. With some team effort, I tell the presenter what everyone is thinking and feeling about their presentations. Real time.</p>
            <p class="lead">I will be joining your meeting today. Get excited.</p>
            <p class="lead">
              <a class="btn btn-default btn-lg" href="#/meeting" role="button">Join the fun!</a>
            </p>
          </div>
          <!-- <div class="col-sm-6 hidden-xs">
            <div class="device pull-right"></div>
          </div> -->
          <div>
						<img src="../img/nosepick.png"/>
					</div>
        </div>
      </div>



</div>