<div class="jumbotron">

	<div class="containerhome">
	</div>
			<div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1>Hi, I am Yolko</h1>
            <p class="lead">I read minds.</p>
            <p class="lead">Just kidding. With some team effort, I tell you what your audience is thinking and feeling. The best thing? Is all real time.</p>
            <p class="lead">I will be joining your meeting today. Get excited.</p>
            <p class="lead">
              <a class="btn btn-info btn-lg" href="#/meeting" role="button">Join the fun!</a>
            </p>
        	</div>
          <!-- <div class="col-sm-6 hidden-xs">
            <div class="device pull-right"></div>
          </div> -->
          <div class="col-sm-6 yolkohome">
						<img src="../img/nosepick.png"/>
					</div>
      	</div>
      </div>
</div>

			<!-- Main Content -->
    <div class="container homemain">

      <div class="row ft">
        <div class="col-sm-6 hidden-xs iconoshome">
					<img src="../img/shout.png"/>
				</div>
        <div class="col-sm-6 ft-copyy">
          <h2 class="padding">Yolko speaks for your audience</h2>
          <p>
            Yolko is an interactive graphical representation of any presentation’s mood in real time. If you want to know what your audience is <strong>really</strong> feeling and/or thinking, just ask <strong>"Yolko, how are you feeling?"</strong>. 
            <!-- Learn how to write the code that downloads and displays messages, photos, and videos that timeout after a few seconds. Then create the code that deletes them from the back-end to make them "self destruct." -->
          </p>
        </div>
      </div>

      <div class="row ft">
        <div class="col-sm-6 ft-copy">
          <h2 class="padding">Yolko is always watching</h2>
          <p>
            Yolko is powered by state of the art technologies giving you <strong>real time</strong> feedback on topics you are covering. It also tells you how you are doing throughout the presentation and whether or not you are doing a good job communicating.
          </p>
        </div>
        <div class="col-sm-6 hidden-xs iconoshome">
					<img src="../img/iamlooking.png"/>
				</div>
      </div>

      <div class="row ft ">
        <div class="col-sm-6 hidden-xs iconoshome">
					<img src="../img/faill.png"/>
				</div>
        <div class="col-sm-6 ft-copy">
          <h2 class="padding">Yolko improves audience success</h2>
          <p>
            Yolko is a must for classrooms as he lets measures the level of stress while covering your subject. This let's you adjust the presentation to their needs therefore improving their performance. You can even keep track of questions anonymously from the audience. <strong>No more blank stares whenever you ask the cliche "So class; do we have any questions..?"</strong>
            <!-- e'll teach you how to upload images, video files, and messages to Parse.com's cloud servers. Then learn how to retrieve the data by setting up custom queries that download and display them in the app.  -->
          </p>
        </div>
      </div>
    </div>









