<div class="container register">
	<form name="myform" novalidate
		ng-submit="login()">
		
		<div class="form-group">
			<h1>Hi There!</h1>
			<h4>Login to access the awsomeness!</h4>

			<p ng-show="errormessage">{{errormessage}}</p>

			<input type="email" name="email" class="form-control" placeholder="Email" autofocus
				ng-model="presenter.email" ng-required="true">
				<p style="color: red" ng-show="myform.email.$invalid && myform.email.$touched">
					Must be a valid email!
				</p>
		</div>	

		<div class="form-group">
			<input type="password" name="password" class="form-control" placeholder="Password"
				ng-model="presenter.password" ng-required="true">
				<p style="color: red" ng-show="myform.email.$invalid && myform.email.$touched">
					Password is required!
				</p>
		</div>

			<button type="submit" class="btn btn-lg btn-default"
				ng-disabled="myform.$invalid">Login</button>
			<p>or <a href="#/register">register</a></p>

	</form>
</div>
