<section class="login">
	<form name="myform" novalidate
		ng-submit="login()">
		<h1>Hi There!</h1>
		<p>Login to access the awsomeness!</p>

		<p ng-show="errormessage">{{errormessage}}</p>

		<input type="email" name="email" placeholder="Email" autofocus
			ng-model="presenter.email" ng-required="true">
			<p ng-show="myform.email.$invalid && myform.email.$touched">
				Must be a valid email!
			</p>

		<input type="password" name="password" placeholder="Password"
			ng-model="presenter.password" ng-required="true">
			<p ng-show="myform.email.$invalid && myform.email.$touched">
				Password is required!
			</p>

			<button type="submit" class="btn btn-default"
				ng-disabled="myform.$invalid">Login</button>
			<p>or <a href="#/register">register</a></p>

	</form>
</section>
