<div class="meetings cf">

<h1>How are you feeling?</h1>
	
	<div>
	  <button class="btn btn-success" 
	  	ng-click="voteUp()">Vote Up</button> <!-- vote up -->
		<button class="btn btn-success" 
			ng-click="neutral()">Neutral</button> <!-- vote neutral -->					
	  <button class="btn btn-red" 
	  	ng-click="voteDown()">Vote Down</button> <!-- vote down -->
	</div> <!-- bottons -->

	<div class="meeting" ng-repeat="(key, meeting) in meetings">
		<button class="btn btn-delete tooltip" 
			ng-click="deleteMeeting(key)">
		<span>Delete this meeting</span></button>
		<span class="text">{{meeting.name}}</span>
	</div><!-- meeting list	 -->
</div><!-- meetings cf -->
