<div class="meeting">

<h1>How are you feeling?</h1>
	
	<div>
	  <button class="btn btn-success" 
	  	ng-click="voteUp()">Vote Up</button> <!-- vote up -->				
	  <button class="btn btn-danger" 
	  	ng-click="voteDown()">Vote Down</button> <!-- vote down -->
	</div> <!-- bottons -->

	<div ng-show="howManyVoteUps">
		<p>Vote Ups: {{ howManyVoteUps }}</p>
	</div>

	<div ng-show="howManyVoteDowns">
		<p>Vote Downs: {{ howManyVoteDowns }}</p>
	</div>

	<div ng-show="delta">
		<p>This is the delta (VoteUps - voteDowns): {{ delta }}</p>
	</div>
	
	{{ message }}


	<!-- <div ng-repeat="vote in voteUps">{{voteUps}}</div> -->
<!-- 	<div ng-model="voteUps">{{voteUps[0].$id}}</div>
 -->
	<div ng-repeat="vote in voteDowns">{{voteDown}}</div>
	<div ng-model="voteDowns">{{voteDowns.$id}}</div>

</div>
