<div class="meetings cf">

<h1>How are you feeling?</h1>
	
	<div>
	  <button class="btn btn-success" 
	  	ng-click="voteUp()">Vote Up</button> <!-- vote up -->				
	  <button class="btn btn-danger" 
	  	ng-click="voteDown()">Vote Down</button> <!-- vote down -->
	</div> <!-- bottons -->

	<div ng-show="howManyVoteUps">
		<p>Vote Ups: {{ howManyVoteUps }}</p>
	</div>

	<div ng-show="howManyVoteDowns">
		<p>Vote Downs: {{ howManyVoteDowns }}</p>
	</div>

	<div ng-show="delta">
		<p>This is the delta (VoteUps - voteDowns): {{ delta }}</p>
	</div>

	<div ng-onload="message()">{{ bad }}</div>

</div>
