<section class="register">
	<form name="myform" ng-submit="register()" novalidate>
		<h1>Hi There!</h1>
		<p>Register to access the awesomeness!</p>

		<p class="error formerror" ng-show="message">{{ message }}</p>


		<input type="firstName" name="firstName" placeholder="First Name" autofocus 
			ng-model="user.firstName" ng-required="true">
		<p class="error validationerror" 
			ng-show="myform.firstName.$invalid && myform.firstName.$touched">First Name is required</p>

		<input type="lastName" name="lastName" placeholder="Last Name" autofocus 
			ng-model="user.lastName" ng-required="true">
		<p class="error validationerror" 
			ng-show="myform.lastName.$invalid && myform.lastName.$touched">Last Name is required</p>

		<input type="email" name="email" placeholder="Email" autofocus 
			ng-model="user.email" ng-required="true">
		<p class="error validationerror" 
			ng-show="myform.email.$invalid && myform.email.$touched">Must be a valid email</p>

		<input type="password" name="password" placeholder="Password"
			ng-model="user.password" ng-required="true">
		<p class="error validationerror" 
			ng-show="myform.password.$invalid && myform.password.$touched">Password must be entered</p>

		<button type="submit" class="btn"
			ng-disabled="myform.$invalid">Register</button>
		<p>or <a href="#/login">login</a></p>
	</form>
</section>
