<div class="container register">
	<form name="myform" novalidate
		ng-submit="register()">

		<div class="form-group">
			<h1>Hi There!</h1>
			<h4>Register and start tracking your presentations.</h4>

			<p ng-show="errormessage">{{errormessage}}</p>

			<input type="name" name="name" class="form-control" placeholder="Name" autofocus
				ng-model="presenter.name" ng-required="true">
				<p style="color: red" ng-show="myform.name.$invalid && myform.name.$touched">
					You must provide a name!
				</p>
		</div>		

		<div class="form-group">
		<p ng-show="errormessage">{{errormessage}}</p>

			<input type="email" name="email" class="form-control" placeholder="Email" autofocus
				ng-model="presenter.email" ng-required="true">
				<p style="color: red" ng-show="myform.email.$invalid && myform.email.$touched">
					Must be a valid email!
				</p>
		</div>

		<div class="form-group">
		<p ng-show="errormessage">{{errormessage}}</p>

			<input type="password" name="password" class="form-control" placeholder="Password"
				ng-model="presenter.password" ng-required="true">
				<p style="color: red" ng-show="myform.email.$invalid && myform.email.$touched">
					Password is required!
				</p>
		</div>

		<button type="submit" class="btn btn-lg btn-default"
			ng-disabled="myform.$invalid">Register</button>
		<p>or <a href="#/login">Login</a></p>
	
	</form>
</div>
